/* Default Badge Style */

.addthis_counter {
	width: 50px;
	height: 60px;	
	font-weight: bold;
    display: block;
}

.addthis_counter {  
    text-decoration:none !important; 
    text-align: left;
}

.addthis_counter a.addthis_button_expanded {
    border-radius: 3px; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.addthis_counter a.atc_c,
.addthis_counter a.addthis_button_expanded {
	display: block;
	background: #f4f4f4;
	border: 1px solid #d3d3d3;
	height: 36px;
	line-height: 36px;
    cursor: pointer;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none !important;
	font-family: arial,helvetica,lucida,tahoma,verdana,sans-serif;
	font-size: 16px;
	color: #464646;
}

.addthis_counter.addthis_pill_style a.addthis_button_expanded:hover,
.addthis_counter.addthis_pill_style a.addthis_button_compact:hover,
.addthis_counter a.addthis_button_expanded:hover,
.addthis_counter a.addthis_button_compact:hover
{  
    text-decoration:none; 
}

/*.addthis_counter a.addthis_button_expanded span {
	display: none;
}*/
.addthis_counter a.atc_c:hover,
.addthis_counter a.addthis_button_expanded:hover {
	border-color: #acacac;
	color: #000;
	text-decoration: none !important;
}

.addthis_counter a.atc_s {
	display: block;
	background: #fe6d4c;
	height: 18px;
	line-height: 18px;
    padding-top: 1px;
	padding-left: 4px;
	overflow: hidden;
    cursor: pointer;
	text-decoration: none !important;
	font-family: arial,helvetica,lucida,tahoma,verdana,sans-serif;
	font-size: 10px;
	color: #fff !important;
    
    border-radius: 3px; 
    -moz-border-radius: 3px;    
    -webkit-border-radius: 3px;
}
.addthis_counter a.atc_s:hover {
	background: #f95333;
	text-decoration: none !important;
}
.addthis_counter a.atc_c,
.addthis_counter a.atc_s {
    height: 17px;
    line-height: 17px;
    margin: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* Pill Style */

.addthis_counter.addthis_pill_style {
	display: block;
	position: relative;     
    background: #FE6D4C; 
	width: 46px !important;
    
	height: 20px;
	line-height: 20px;
    padding-left: 4px;

    border-radius: 4px;
    -moz-border-radius-topleft: 4px; 
    -moz-border-radius-bottomleft: 4px; 
    -webkit-border-top-left-radius: 4px; 
    -webkit-border-bottom-left-radius: 4px; 
}
.addthis_counter.addthis_pill_style.addthis_nonzero {
	width: 85px !important;
}

.addthis_counter.addthis_pill_style.addthis_nonzero a.addthis_button_expanded {
    display: block !important;
}

.addthis_counter.addthis_pill_style a.addthis_button_expanded {
    display: none;
}

.addthis_counter.addthis_pill_style a.atc_s {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 18px;
    line-height: 18px;
    padding-top: 1px;
    float: left;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
}

.addthis_counter.addthis_pill_style a.atc_s:hover { 
    background: transparent; 
} 

.addthis_counter.addthis_pill_style a.addthis_button_expanded {	
    position: absolute;
    top: 0;
    right: -2px;
    width: 36px;    
    height: 16px;
    line-height: 14px;
    margin: 0;
    padding-top: 2px;
    font-size: 10px;
    float: right;
	
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
}

a.atc_s span.atc_l {
	background: url(//s7.addthis.com/static/t00/logo9x9w.gif) no-repeat left;
    padding-left: 12px;
	text-decoration: none !important;
	line-height: 16px;
}
a.atc_s span.atc_l:hover {
	text-decoration: none;
}

.addthis_default_style .addthis_counter {
    display:block;
    float:left;
}


/* toolbox inline counter */
.addthis_counter.addthis_bubble_style {
    display: block;
    margin: 0 0 0 -2px;
    text-align: center;
    font-weight: bold;
    font-family: arial,helvetica,sans-serif;
    color: #000;

    background: url(//s7.addthis.com/static/t00/tbc02.gif) no-repeat 0 -64px;
    padding: 0 0 0 4px;
    height:16px;
    width: 32px !important; 
}

.addthis_counter.addthis_bubble_style a.addthis_button_expanded {
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    border: 0;
    background:none;
}

.addthis_counter.addthis_bubble_style:hover {
    background-position: -36px -64px !important;
}

.addthis_32x32_style .addthis_counter.addthis_bubble_style {
    background: url(//s7.addthis.com/static/t00/tbc02.gif) no-repeat 0 0;
    height: 32px;
    width: 54px !important;
    line-height: 32px;
    padding: 0 0 0 6px;
}

.addthis_32x32_style .addthis_counter.addthis_bubble_style a.addthis_button_expanded,
* html .addthis_32x32_style .addthis_counter.addthis_bubble_style.compatmode0 a.addthis_button_expanded { 
    background:none;
    font-size: 16px;
    line-height: 32px;
	margin: 0px;
    border:0px;
    padding:0px !important;
}
* html .addthis_32x32_style .addthis_counter.addthis_bubble_style.compatmode0 a.addthis_button_expanded { 
    height: 32px;
}
.addthis_32x32_style .addthis_counter.addthis_bubble_style:hover {
    background-position: 0 -32px !important;
}

.addthis_counter.addthis_bubble_style .atc_s {
    display: none !important;
}

* html .addthis_counter.addthis_bubble_style { 
    width: 36px !important; 

    display:inline;
}

* html .addthis_counter.addthis_bubble_style.compatmode0 { 
    width: 32px !important; 
    display:block;
}

* html .addthis_counter.addthis_bubble_style a.addthis_button_expanded {
    width: 24px!important; 
    height: 14px!important;
    line-height: 14px!important; 
    padding:0px;
    margin-top:1px !important;

    display:inline;
}

* html .addthis_counter.addthis_bubble_style.compatmode0 a.addthis_button_expanded {
    margin-top:2px !important;
    height: 16px!important;
    line-height: 16px!important; 
}

* html .addthis_32x32_style .addthis_counter.addthis_bubble_style { 
    width: 60px !important;
}

* html .addthis_32x32_style .addthis_counter.addthis_bubble_style a.addthis_button_expanded { 
    width: 46px; 
    height: 26px!important; 
    line-height: 26px!important; 
    margin-top:2px!important;
}
* html .addthis_32x32_style .addthis_counter.addthis_bubble_style.compatmode0 a.addthis_button_expanded { 
    height: 32px!important; 
    line-height: 32px!important; 
}
